echo "fastapi==0.115.0" > requirements.txt
echo "uvicorn==0.30.6" >> requirements.txt
echo "requests==2.32.3" >> requirements.txt
echo "numpy==1.26.4" >> requirements.txt
echo "pydantic==2.11.0" >> requirements.txt
